html {
    font-family: 'Rubik', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
   
a:link {
  color: blue; 
  background-color: transparent; 
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}


/*Navigation bar*/
nav {
    margin: 0;
    padding: 0;
    background: #f48642;
   
}

nav ul  {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    text-align: center;
    padding: 0;
    color: green;
    list-style-type: none;
    margin: 0;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
}
nav ul li {
    color: #FFF;
}

nav a:hover {
   background-color: #f2b098;
   padding: auto;
}

a:visited { 
  color: #3aa842;
}


/*FOOTER*/
footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    line-height: 5;
    margin: 0;
    padding: 0;
    width: auto;
    min-height: 100px;
    align-items: center;
}

footer li {
    margin: 10px;
    padding: 1em;
}


/*INDEX.HTML pages starts here*/
html, body{
    height: 100%;
    /*margin: 0;*/
    /*padding: 0;*/
}
#home {
    background-image: url("../images/japan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}

.ichi {
    text-shadow: 1px 1px #f9f4a7;
}

 /*STREETFOOD.HTML page starts here*/
body {
    font-family: 'Rubik', sans-serif;
}

.text {
    margin-top: 0;
}
div h1 {
    text-align: center;
    font-weight: 900;
    color: rgb(253, 247, 83);
    
}

.text { 
    background-image: url("../images/vanillasoft.png");
}
    
.text, .manners {
  font-size: 18px;
  font-weight: 900;
  padding: 8px;
  margin: 0px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(253, 247, 83);
}
    

#blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      margin: 20px;
    }
  


article {
    background: #fff;
    margin-bottom:20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px black solid;
}

article h2 {
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    flex: 0 1 30%;
}



/*ETIQUETTEE page starts here*/


.manners  {
    background-image: url("../images/sakura.jpg");
}

div p {
    font-size: 25px;
    color: rgba(1, 54, 41, 0.83); 
    
}


/*CONTACT PAGE starts here*/
#contactus {
    font-family: 'Rubik', sans-serif;
      color: black;
      margin: 0;
      padding: 0;
      }  
    


.photos {
    height: 600px;
    background-image: url("../images/geisha.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    padding: 0;
    display: block;
 }
#bottomcontainer {
    /*display: flex;*/
    background: #FFF;
    /*flex-wrap: wrap;*/
    /*flex-flow: row;*/
    min-height: 300px;
    margin-top: 0;
    padding-top: 0;
    align-content: center;
    justify-content: center;
}


div form {
    display: flex;
    min-height: 300px;
    width: 100%;
          }
 
.okay {
    margin: auto;
    padding: 20px;
    text-align: center;
       } 

.questions {
    line-height: 2;
    width: 33%;
    flex-grow: 1;
    background: rgb(224, 61, 2);
    text-align: center;
    justify-content: center;
}
.questions p {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 0;
    color: white;
             }
  
.name {
    background: rgb(86, 81, 81);
     line-height: 2;
     width: 33%;
     flex-grow: 1;
     font-size: 20px;
     text-align: center;
     
      }

@media (max-width: 600px) {
    body
      {
       min-width: 320px;
      }
   
  nav ul {
      flex-direction: column;
         }
         form {
            /*display: flex;*/
            flex-direction: column;
         }
         
         div.questions, div.name {
             width: 100%;
         }
         #blocks {
            display: flex;
            flex-direction: column;
}
}
