* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

   
a:link {
  color: #4259f4; 
  background-color: transparent; 
  text-decoration: none;
}
a:hover {
  color: #ff4cdb;
  background-color: transparent;
  text-decoration: none;
}

a:active {
    color: #fffc59;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
  color: #7E45FF;
  background-color: transparent;
  text-decoration: none;
}


/*Navigation bar*/
nav {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    background:#FFF18B;
    position: fixed;
    left: 0;
    top: 0;
   
}

nav ul  {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    text-align: center;
    padding: 0;
    color: green;
    list-style-type: none;
    margin: 0;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
   background-color: #99EEA4;
}

/********FOOTER******/
footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    line-height: 5;
    margin: 0;
    padding: 0;
    width: auto;
    min-height: 100px;
}

footer li {
    margin: 5px;
    padding: 1em;
}



/*INDEX.HTML pages starts here*/
html, body{
    height: 100%;
    width: 100%;
    
}
#home {
    background-image: url("../images/japan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    color: #FFF;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ichi {
    text-shadow: 1px 1px #f9f4a7;
    color: #fff;
    list-style-type: none;
}

 /*STREETFOOD.HTML page starts here*/
.text {
    margin-top: 0;
    background: linear-gradient(to right, rgb(116, 235, 213), rgb(172, 182, 229));
}

/*.text h1, .manners h1 {*/
/*    text-align: center;*/
/*    color: #01070a;*/
/*    padding: 20px;*/
/*}*/

h1 {
    padding: 30px;
}

.text, .manners {
  font-size: 18px;
  font-weight: 900;
  padding: 30px;
  margin: 0px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #762294;
  
}
    
#blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
 }
  
article {
    background: #fff;
    margin-bottom:20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

article h2 {
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    flex: 0 1 30%;
}

.scroll {
    position: fixed;
    width: 30px;
    height: 30px;
    background: red;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: red;
}

/*ETIQUETTEE page starts here*/
.manners  {
    background: linear-gradient(to top, rgba(225, 144, 246, 1.0), rgba(252, 181, 161, 1.0));
    
}




div p {
    font-size: 25px;
    color: rgba(1, 54, 41, 0.83); 
}


/*CONTACT PAGE starts here*/
#contactus {
      font-family: 'Rubik', sans-serif;
      margin: 0;
      padding: 0;
 }  
    


.photos {
    height: 600px;
    background-image: url("../images/geisha5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    padding: 0;
    display: block;
 }


 
 
#bottomcontainer {
    background: #FFF;
    min-height: 300px;
    margin-top: 0;
    padding-top: 0;
    align-content: center;
    justify-content: center;
}


form {
    display: flex;
    min-height: 300px;
    width: 100%;
}
 
.okay {
    margin-top: 30px;
    color: #1217B3;
    font-weight: 800;
}
    

input[type=radio]+label {
    width: 40px;
    height: 40px;
    margin: 5px;
}

input[type=radio],#no>label {
    margin-left: -40px;
}

.questions {
    line-height: 2;
    width: 33%;
    height: 300px;
    flex-grow: 1;
    background: #A1F0EC;
    text-align: center;
    align-content: center;
}
.questions p {
    text-decoration: none;
    font-size: 1.5em;
    margin: 40px 20px;
    padding: 0;
    color: #1217B3;
}


.name {
     margin: 0;
     background: #bcbfc4;
     line-height: 2.2;
     width: 33%;
     height: 300px;
     flex-grow: 1;
     font-size: 20px;
     text-align: center;
}

.name p {
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.area1 {
    width: 250px;
    height: 25px;
    border-radius: 30px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.grandsubmit {
    outline: none;
    width: 120px;
    height: 36px;
    box-shadow: none;
    font-size: 0.8em;
    color: #fff;
    line-height: 25px;
    border-radius: 48%;
    cursor: pointer;
    background: linear-gradient(to right, #03cb91, #00add8);
}

.grandsubmit:hover, .grandsubmit:focus {
    background: #20F6FA;
    color: #FF8AA2;
    font-weight: 900;
}


@media (max-width: 600px) {
    body
      {
       min-width: 320px;
       font-size: 1.25em;
      }
    nav {
       position: initial;
      }
   
    nav ul {
      flex-direction: column;
      }
      
    form {
            flex-direction: column;
         }
         
    div.questions, div.name {
             width: 100%;
             height: 300px;
         }
         
    #blocks {
            display: flex;
            flex-direction: column;
         }
         
    #bottomcontainer {
             /*margin: 0;*/
             padding: 0;
          }  
          
    img {
        max-width: 100%;
        height: auto;
        }

}
